.container-full {
    max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.slider-row {
	width: 100%;
}

.swiper {
	width: 100%;
}

.button-text {
    display: none;
}

.button__slider {
    display: none;
}